*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/imagee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-left: 600px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 600px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#recipeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipeItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.recipeItem h2 {
    margin-bottom: 10px;
}

.recipeItem img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipeItem ul {
    margin-top: 10px;
}

.recipeItem ul li {
    margin-bottom: 5px;
}



